body {
	background: #eeeeee;
}
h1{
	text-align:center;
}
/*============================================
サブメニュー（左カラム）
============================================*/
div#submenu {
	width:260px;		/*幅の指定*/
	float:left;			/*サブメニューのカラムを左寄せにする*/
}

/*============================================
インフォメーション（右カラム）
============================================*/
div#mainmenu {
	width:660px;		/*幅の指定*/
	float:left;			/*カラムを左寄せにする*/
}

/*============================================
フッタ
============================================*/
div#footer {
	clear:both;			/*回り込みを解除する*/
}